.border-search {
  border: 1px solid black;
  padding: 5px;
}
mat-form-field {
  width: 80%;
  margin-top: 10px !important;
  margin-right: 5px;
}
.mat-form-field-flex {
  height: 50px !important;
}
.contenedor-lista {
  padding: 15px;
}
.item-lista{
  margin-bottom: 15px;
}
.container-info-parking .header,
.container-info-parking .content {
  display: flex;
}
.container-info-parking .header .item,
.container-info-parking .content .item {
  width: 20%;
}

mat-expansion-panel{
  margin-top: 10px;
  border-radius: 10px !important;
}