<div class="contenedor">
  <mat-card class="d-flex justify-content-between">
    <h3>Historial Usuarios</h3>
  </mat-card>
  <div class="contenedor-lista">
    <div class="item-lista" *ngFor="let item of listUsers;">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ item['email'] }}</mat-panel-title>
            <mat-panel-description>
              Tipo de usuario: {{ item['tipoUsuario'] }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="container-info-parking">
            <div class="header">
              <div>Parqueadero</div>
              <div>Vehiculo</div>
              <div>Fecha</div>
              <div>Hora ingreso</div>
              <div>Hora salida</div>
            </div>
            <div class="content">
              <div>{{ item['email'] }}</div>
              <div>{{ item['email'] }}</div>
              <div>{{ item['email'] }}</div>
              <div>{{ item['email'] }}</div>
              <div>{{ item['email'] }}</div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>