.border-search {
  border: 1px solid black;
  padding: 5px;
}
mat-form-field ::ng-deep {
  width: calc(50% - 5px);
  height: 54px;
  .mat-form-field-outline-start,
  .mat-form-field-outline-gap,
  .mat-form-field-outline-end {
      background-color: #f6f8fb;
  }
  .mat-form-field-flex {
    height: 45px;
    display: flex;
    align-items: center;
    margin: 0px 10px;
  }

  .mat-form-field-infix {
    font-size: 15x;
  }
  
  .mat-input-element:disabled{
    color:black;
  }
}
.mat-form-field-flex {
  height: 50px !important;
}
.contenedor-lista {
  padding: 15px;
}
.item-lista{
  margin-bottom: 15px;
}
.container-info-parking .header,
.container-info-parking .content {
  display: flex;
}
.container-info-parking .header .item,
.container-info-parking .content .item {
  width: 20%;
}

mat-expansion-panel{
  margin-top: 10px;
  border-radius: 10px !important;
}