<div class="contenedor">
  <mat-card class="d-flex justify-content-between">
    <h3>Historial Usuarios</h3>
  </mat-card>
  <mat-card>
    <div class="input-group">
      <input type="text" autofocus class="form-control" placeholder="Documento o nombre del usuario" aria-label="Documento o nombre del usuario" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button" id="button-addon2"><i class="fas fa-search"></i> Buscar</button>
      </div>
    </div>
    <!-- <div class="container-options d-flex align-items-center justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Documento o nombre del usuario</mat-label>
        <input matInput type="text" min="1">
        <span matPrefix>
          <mat-icon>search</mat-icon>
        </span>
      </mat-form-field>
      <button mat-flat-button color="accent">
        <mat-icon>search</mat-icon>
        <span>Buscar</span>
      </button>
    </div> -->
  </mat-card>

  <div class="contenedor-lista">
    <div class="item-lista" >
      <mat-accordion >
        <mat-expansion-panel *ngFor="let item of listUsers" >
          <mat-expansion-panel-header class="row" >
            <mat-panel-title class="col-6">{{ item['email'] }}</mat-panel-title>
            <mat-panel-description class="col-6">
              Tipo de usuario: {{ ' '+ item['tipoUsuario'] | titlecase }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="container-info-parking" *ngIf="item['datos']">
            <div class="header">
              <span class="item">Parqueadero</span>
              <span class="item">Vehiculo</span>
              <span class="item">Fecha</span>
              <span class="item">Hora ingreso</span>
              <span class="item">Hora salida</span>
              <span></span>
              <span></span>
            </div>
            <div class="content">
              <span class="item">{{ item['email'] }}</span>
              <span class="item">{{ item['email'] }}</span>
              <span class="item">{{ item['email'] }}</span>
              <span class="item">{{ item['email'] }}</span>
              <span class="item">{{ item['email'] }}</span>
              <span class="btn btn-outline-primary">
                <i class="fas fa-edit"></i>
              </span>
              <span class="btn btn-outline-secondary">
                <i class="far fa-eye"></i>
              </span>
            </div>
          </div>
          <div class="container-info-parking text-center" *ngIf="!item['datos']">
            No hay registros
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
<ngx-loading [show]="cargando" [config]="configLoader"></ngx-loading>