<nav class="navbar navbar-expand-sm navbar-light bg-white mb-3 shadow-lg d-flex">
    <div class="collapse navbar-collapse d-flex justify-content-between">
        <!-- <button class="btn btn-link" type="button" (click)="drawer.toggle(); panel(drawer)">
            <span class="navbar-toggler-icon"></span>
            <i [ngClass]="opened ? 'fas fa-times fa-lg' : 'fas fa-bars fa-lg' "></i>
        </button> -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle pointer" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle" width="40px"
                        [src]=" usuario.foto ? usuario.foto : '../../../../assets/images/usuario.png'">
                </a>
                <div class="dropdown-menu dropdown-menu-right animate__animated animate__fadeIn animate__fast"
                    aria-labelledby="navbarDropdown">
                    <span class="dropdown-item-text text-center">{{usuario.nombre}}</span>
                    <a class="dropdown-item modal-link pointer" (click)="editarPerfil()"><i
                            class="fas fa-user-edit"></i> Mi perfil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item pointer " (click)="logout()" i18n><i class="fas fa-sign-out-alt"></i> Cerrar
                        Sesión</a>
                </div>
            </li>
        </ul>
    </div>
</nav>