
mat-drawer-container{
  mat-drawer{
    width: 60% !important;
  }

  @media (min-width: 768px) {
    mat-drawer{
      width: 20% !important;
    }
  }

  .indicadorPanel{
    width: 15px;
    background-color: #d8d8d8;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid lightgray;
    cursor: pointer;
  }


  mat-list{
    mat-list-item::ng-deep{
      .mat-list-item-content{
        display: flex !important;
        justify-content: space-between !important;
        width: 100%;
      }
    }
  }

  .permisos{
    width: 100%;
    .permiso{
      margin-bottom: 2px;
      width: 100%;
      ::ng-deep{
        .mat-button-wrapper{
          display: flex;
          justify-content: space-between;
          p{
            margin: 0px;
          }
          i{
            margin-top:auto;
            margin-bottom: auto;
          }

        }
      }
    }

    .permiso:hover, .activo{
      background-color: #ed3237;
      color: white;
    }
  }

}
