<mat-drawer-container class="h-100 w-100" >
    <mat-drawer mode="side" #drawer [(opened)]="opened">
        <mat-card >
            <div class="d-flex">
                <mat-card-header>
                    <mat-card-title><img class="w-100" src="../../../../assets/images/logo2.png" alt=""></mat-card-title>
                </mat-card-header>
            </div>
            <!-- <button class="btn btn-primary btn-block" (click)="logout()">
                Cerrar Sesión <i class="fas fa-sign-out-alt"></i>
            </button> -->
        </mat-card>

        <div class="permisos">
            <button class="permiso rounded-0" *ngFor="let item of menus"  mat-raised-button (click)="goTo(item.ruta)"  [ngClass]="{'activo': '/platform/superAdmin'+item.ruta == rutaActual}">
                <p>{{item.nombre | titlecase}} </p>
                <i class="{{item.faIcon}}"></i>
            </button>
        </div>
        

    </mat-drawer>
    <mat-drawer-content >
        <nav class="navbar navbar-expand-sm navbar-light bg-white mb-3 shadow-lg d-flex">
            <div class="collapse navbar-collapse d-flex justify-content-between">
                <button class="btn btn-link" type="button" (click)="drawer.toggle(); panel(drawer)">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle" width="40px" src="../../../../assets/images/usuario.png">
                        </a>  
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <span class="dropdown-item-text text-center">{{usuario.nombre}}</span>
                            <a class="dropdown-item modal-link" href="#"><i class="fas fa-user-edit"></i> Perfil</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- <div class="indicadorPanel" (click)="drawer.toggle(); panel(drawer)">
            
            <i [ngClass]="opened ? 'fas fa-chevron-left' : 'fas fa-chevron-right fa-sm'"></i>
        </div> -->
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

