<mat-drawer-container class="h-100 w-100" >
    <mat-drawer mode="side" #drawer [(opened)]="opened">
        <mat-card >
            <div class="d-flex">
                <mat-card-header>
                    <mat-card-title>Parking McQueen </mat-card-title>
                    <mat-card-subtitle>{{ fecha | date:'medium' }}</mat-card-subtitle>
                </mat-card-header>
                <i class="fas fa-car fa-2x"></i>
            </div>
            <button class="btn btn-primary btn-block" (click)="logout()">
                Cerrar Sesión <i class="fas fa-sign-out-alt"></i>
            </button>
        </mat-card>

        <div class="permisos">
            <button class="permiso" *ngFor="let item of menus"  mat-raised-button (click)="goTo(item.ruta)"  [ngClass]="{'activo': '/platform/superAdmin'+item.ruta == rutaActual}">
                <p>{{item.nombre | titlecase}} </p>
                <i class="{{item.faIcon}}"></i>
            </button>
        </div>
        

    </mat-drawer>
    <mat-drawer-content >
        <div class="indicadorPanel" (click)="drawer.toggle(); panel(drawer)">
            
            <i [ngClass]="opened ? 'fas fa-chevron-left' : 'fas fa-chevron-right fa-sm'"></i>
        </div>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

