<mat-drawer-container class="h-100" autosize>

    <mat-toolbar class="w-100 d-flex justify-content-between">
        <button  mat-icon-button >
            <mat-icon>account_circle</mat-icon>
        </button>

        <span>{{ nada }}</span>
    
        <button mat-icon-button class="example-icon" (click)="cerrarSesion()">
            <mat-icon>logout</mat-icon>
        </button>
    
    </mat-toolbar>

    

<!-- 
    <mat-drawer #drawer mode="over" [(opened)]="opened">
        <mat-card>
            Juan Felipe Arenas
        </mat-card>
        <mat-divider></mat-divider>

    </mat-drawer> -->


    <div class="container">
        <div class="header mt-5">
            <h4> {{ datosParqueadero.nombre | titlecase }} </h4>
        </div>
        <div class="row p-container" *ngIf="parqueaderos.length > 0 && !mostrarParking">
            <div class="col-12 col-md-6 col-lg-4 my-1" *ngFor="let parqueadero of parqueaderos" (click)="seleccionarParqueadero(parqueadero)" >
                <div class="card pointer sombra">
                    <div class="card-body d-flex justify-content-center flex-column" >
                        <div class="row">
                            <div class="col-12 col-lg-6 text-center">
                                <img [src]="parqueadero.logo" alt="">
                            </div>
                            <div class="font-weight-bold col-12 col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start h5 mt-3 mt-lg-0">
                                {{ parqueadero.razonSocial | titlecase }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="mostrarParking && parqueaderos.length > 0" class="row d-flex flex-column justify-content-center">
            <div class="col text-left my-1 back-container">
                <button class="btn btn-primary" (click)="atras()" i18n>
                    <i class="fas fa-arrow-left"></i>
                    Regresar
                </button>
            </div>
            
            <div class="card-content  shadow my-2" *ngFor="let item of logs; let i = index">
                <div class="col text-center">
                    <i class="{{ item?.datosVehiculo.tipo == 'carro' ? 'fas fa-car' : 'fas fa-motorcycle'}} fa-3x"></i>
                </div>
                <div class="col d-flex justify-content-center">
                    <div class="placa">
                        {{ item?.datosVehiculo?.placa | uppercase}}
                    </div>
                </div>
                <div class="row mt-1 border-bottom">
                    <span class="col-4" i18n>
                        Marca 
                    </span>
                    <span class="col-8 text-right">
                        {{ item?.datosVehiculo?.marca | uppercase}}
                    </span>
                </div>
                <div class="row mt-1 border-bottom">
                    <span class="col-4" i18n>
                        Suscripción 
                    </span>
                    <span class="col-8 text-right">
                        {{ item?.datosSuscripcion?.tipoSuscripcion | titlecase}}
                    </span>
                </div>
                <div class="row mt-1 border-bottom">
                    <span class="col-4" i18n>
                        Ingreso 
                    </span>
                    <span class="col-8 text-right">
                        {{ item?.fechaEntrada }}
                    </span>
                </div>
                <div class="row mt-1 border-bottom">
                    <span class="col-4" i18n>
                        Tiempo 
                    </span>
            
                    <span class="col-8 text-right">
                       {{ item?.tiempo | async }}
                    </span>
            
                </div>
                <div class="row mt-1 border-bottom">
                    <span class="col-4" i18n>
                        Valor 
                    </span>
            
                    <span class="col-8 text-right">
                       {{ item.valor }}
                    </span>
            
                </div>
            </div>

        </div>

        <div class="row p-container" *ngIf="parqueaderos.length == 0">
            <h5 class="w-100 text-center mt-3 p-2" i18n> No tienes vehiculos activos en Parking Mcqueen</h5>
        </div>
    </div>

</mat-drawer-container>
<ngx-loading [show]="cargando" [config]="configLoader">
</ngx-loading>