<mat-drawer-container class="h-100" autosize>

    <mat-toolbar class="w-100 d-flex justify-content-between">
        <button  mat-icon-button >
            <mat-icon>account_circle</mat-icon>
        </button>

        <span>Parking Mcqueen</span>
    
        <button mat-icon-button class="example-icon" (click)="cerrarSesion()">
            <mat-icon>logout</mat-icon>
        </button>
    
    </mat-toolbar>

<!-- 
    <mat-drawer #drawer mode="over" [(opened)]="opened">
        <mat-card>
            Juan Felipe Arenas
        </mat-card>
        <mat-divider></mat-divider>

    </mat-drawer> -->


    <div class="container">
        <div class="card titulo mt-5">
            <div class="card-body text-center">
                <h4> {{ datosParqueadero.nombre | titlecase }} </h4>
            </div>
        </div>
        <div class="row p-container">
            <div class="col-12 col-md-6 col-lg-4 my-1" *ngFor="let parqueadero of parqueaderos">
                <div class="card pointer sombra">
                    <div class="card-body d-flex justify-content-center flex-column">
                        <div class="row">
                            <div class="col-12 col-lg-6 text-center">
                                <img [src]="parqueadero.logo" alt="">
                            </div>
                            <div class="font-weight-bold col-12 col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start h5 mt-3 mt-lg-0">
                                {{ parqueadero.razonSocial | titlecase }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</mat-drawer-container>
<ngx-loading [show]="cargando" [config]="configLoader">
</ngx-loading>