.tarjeta{
    height: 200px;
    width: 300px;
    border: 1px solid;
    margin: 30px;
    border-radius: 15px;
    background-color: #2703021a;
    //float: left;

    .v-c{
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}


.title {
    font-size: 4rem;
    font-weight: bold;
    font-family: fantasy;
    color: white;
    background: linear-gradient(to bottom, #945900 0%, #ff99cc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Sombra para los cuadros con una animacion con efecto de 1s con box box-shadow*/
.sombra{
    -webkit-box-shadow: 6px 7px 5px 0px rgba(189,189,189,1);
    -moz-box-shadow: 6px 7px 5px 0px rgba(189,189,189,1);
    box-shadow: 6px 7px 5px 0px rgba(189,189,189,1);
    transition-property: box-shadow;
    transition-duration: 1s;
}
  
.sombra:hover{
    text-decoration: none;
    -webkit-box-shadow: 6px 7px 5px 0px rgba(87,86,87,1);
    -moz-box-shadow: 6px 7px 5px 0px rgba(87,86,87,1);
    box-shadow: 6px 7px 5px 0px rgba(87,86,87,1);
}