
.tarjeta{
    height: 200px;
    width: 300px;
    border: 1px solid;
    margin: 30px;
    border-radius: 15px;
    background-color: #2703021a;
    //float: left;

    .v-c{
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}