.tarjeta{
    height: 200px;
    width: 300px;
    border: 1px solid;
    margin: 30px;
    border-radius: 15px;
    background-color: #2703021a;
    //float: left;

    .v-c{
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}


.title {
    font-size: 4rem;
    font-weight: bold;
    font-family: fantasy;
    color: white;
    background: linear-gradient(to bottom, #945900 0%, #ff99cc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}