<div class="container">
    <div class="card titulo mt-5">
        <div class="card-body text-center">
            <h1>{{nombreParqueadero | titlecase}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 my-3" *ngFor="let permiso of permisos" (click)="ir(permiso.ruta)">
            <div class="card pointer sombra">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-lg-6 text-center">
                            <i ngClass="{{permiso.icono+' fa-7x expandir'}}"></i>
                        </div>
                        <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start h5 mt-3 mt-lg-0">
                            {{permiso.nombre}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>