<div class="w-100 text-right">
    <button mat-icon-button color="primary" [mat-dialog-close]="{cerrar:false}">
        <mat-icon>clear</mat-icon>
    </button>
</div>
<hr>
<div id="factura" mat-dialog-content *ngIf="datosParqueadero">
    <p class="text-center">
        <b> {{ datosParqueadero['razonSocial'] | uppercase}} </b>
    </p>

    <div class="w-100 d-flex">
        
        <div class="col-3">
            <img class="w-100" [src]="datosParqueadero['logo']" alt="">
        </div>

        <div class="w-70 d-flex justify-content-center text-center flex-column">
            
            <div class="no-margin" i18n>Dirección: {{ datosParqueadero.direccion | titlecase }} </div>
            <div class="no-margin" i18n>Nit: {{ datosParqueadero.nit}}</div>
            
        </div>

    </div>

    <div class="w-100 cuerpo-factura">

        <!-- datos cliente -->
        <div class="seccion">
            <div class="row">
                <div class="col-5">
                    <b i18n>Nombre:</b>
                </div>
            
                <div class="col-7">
                    {{ datosLog?.datosCliente?.nombre | titlecase }}
                </div>
            </div>
            
            <div class="row">
                <div class="col-5">
                    <b i18n>Tipo Vehiculo:</b>
                </div>
            
                <div class="col-7">
                    {{ datosLog?.datosVehiculo?.tipo | titlecase }}
                </div>
            </div>
            
            <div class="row">
                <div class="col-5">
                    <b i18n>Placa:</b>
                </div>
            
                <div class="col-7">
                    {{ datosLog?.datosVehiculo?.placa | uppercase }}
                </div>
            </div>
        </div>

        <!-- datos ingreso/egreso -->
        <div class="seccion">
            <div class="row">
                <div class="col-5">
                    <b i18n>Ingreso:</b>
                </div>
            
                <div class="col-7">
                    <small>{{ parsearFecha(datosLog?.fechaEntrada?.seconds) }}</small>
                </div>
            </div>
            
            <div class="row">
                <div class="col-5">
                    <b i18n>Egreso:</b>
                </div>
            
                <div class="col-7">
                    <small>{{ parsearFecha() }}</small>
                </div>
            </div>
        </div>

        <!-- suscripcion -->
        <div class="seccion">
            <div class="row">
                <div class="col-5">
                    <b i18n>Tipo Suscripcion:</b>
                </div>

                <div class="col-7">
                   {{ datosSuscripcion?.tipoSuscripcion | titlecase }}
                </div>
            </div>

            <div class="row" *ngIf="cantidadHoras || cantidadDias">

                <div class="col-5">
                    <b i18n>Cantidad {{ cantidadDias ? 'Días' : 'Horas' }}:</b>
                </div>

                <div class="col-7">
                    {{ cantidadHoras ? cantidadHoras : cantidadDias }}
                </div>
                
            </div>

            <div class="row" *ngIf="datosSuscripcion?.tipoSuscripcion !== 'hora'">
                <div class="col-5">
                    <b i18n>Inicio:</b>
                </div>

                <div class="col-7">
                    <small>{{ parsearFecha(datosSuscripcion?.fechaInicio?.seconds, 'll') }}</small>
                </div>
            </div>

            <div class="row" *ngIf="datosSuscripcion?.tipoSuscripcion !== 'hora'">
                <div class="col-5">
                    <b i18n>Fin:</b>
                </div>
            
                <div class="col-7">
                    <small>{{ parsearFecha(datosSuscripcion?.fechaFinal?.seconds, 'll') }}</small>
                </div>
            </div>

        </div>

        <!-- Total A pagar -->
        <div class="seccion">
            <div class="row">
                <div class="col-5">
                    <b i18n>Total a pagar</b>
                </div>
        
                <div class="col-7">
                    <b>${{ totalPagar }}</b>
                </div>
            </div>
        </div>
        
    </div>

</div>
<div mat-dialog-actions class="d-flex justify-content-center">
  <!-- <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->

    <button mat-raised-button color="primary" [mat-dialog-close]="{cerrar:false}" i18n>Cancelar</button>

    <button mat-raised-button class="aceptar" (click)="egresar()" i18n>Aceptar</button>
    
    <button mat-icon-button (click)="print()">
        <mat-icon>print</mat-icon>
    </button>
</div>
