.no-margin{
    margin: 0px;
}

.w-30{
    width: 30% !important;
}

.w-70{
    width: 70% !important;
}


.cuerpo-factura{
    padding: 10px;
}

.seccion{
    border-radius: 10px;
    border: 1px solid #b3acac;
    padding: 10px;
    margin: 5px;
    background-color: #fbfaf9;
}

.aceptar{
    background-color: #104407;
    color: white;
}