<div class="container-fluid animate__animated animate__animate__bounceOut animate__fast">

    <form [formGroup]="formulario" (ngSubmit)="submit()">
        <div class="w-100 text-center cont">
            <div class="buttons">
                <button class="btn" type="button" mat-icon-button (click)="fileInput.click()">
                    <i class="fas fa-plus-circle"></i>
                </button>
                <button class="btn" type="button" mat-icon-button (click)="setImagenDefecto()">
                    <i class="fas fa-minus-circle"></i>
                </button>
            </div>
            <img [src]="imagenDefecto" alt="Foto Perfil">
            <input hidden (change)="subirfoto($event)" #fileInput type="file" id="file" accept=".jpg,.jpeg,.png, .bmp">

        </div>

        <div class="row">
            <mat-form-field appearance="outline" class="col-md-4 col-12">
                <mat-label i18n>Documento</mat-label>
                <input matInput type="text" formControlName="documento">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-4 col-12">
                <mat-label i18n>Nombre</mat-label>
                <input matInput type="text" formControlName="nombre">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-4 col-12">
                <mat-label i18n>Telefono</mat-label>
                <input matInput type="number" formControlName="telefono">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline" class="col-md-4 col-12">
                <mat-label i18n>Dirección</mat-label>
                <input matInput type="text" formControlName="direccion">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-4 col-12">
                <mat-label i18n>Correo Electronico</mat-label>
                <input matInput type="text" formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-4 col-12">
                <mat-label i18n>Idioma</mat-label>
                <mat-select formControlName="idioma">
                    <mat-option *ngFor="let idioma of idiomas" [value]="idioma.valor">
                        <a class="text-dark" href="/{{idioma.valor}}/">{{idioma.display}}</a>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row" *ngIf="!editar">
            <mat-form-field appearance="outline" class="col-md-4 col-12">
                <mat-label i18n>Contraseña</mat-label>
                <input matInput [type]="hidden ? 'text' : 'password'" formControlName="password">
                <mat-icon class="pointer" matSuffix (click)="hidden = !hidden">
                    {{ hidden ? 'visibility' : 'visibility_off' }}
                </mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-4 col-12">
                <mat-label i18n>Confirmar Contraseña</mat-label>
                <input matInput [type]="hidden ? 'text' : 'password'">
                <mat-icon class="pointer" matSuffix (click)="hidden = !hidden">
                    {{ hidden ? 'visibility' : 'visibility_off' }}
                </mat-icon>
            </mat-form-field>
        </div>

        <div class="row justify-content-end botones">
            <button type="submit" class="col-12 col-md-3 btn btn-primary m-1" [disabled]="!formulario.valid" i18n>
                <i class="fas fa-save"></i> Guardar Datos
            </button>
            <button type="button" class="col-12 col-md-3 btn btn-danger m-1" (click)="salir()" i18n>
                <i class="fas fa-times"></i> Cancelar
            </button>
        </div>

    </form>
</div>