<div id="fondo" class="vh-100 d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-around align-items-center">
            <div class="col-md-5 col-12 mb-3 mb-md-0">
                <div class="logo-container text-center">
                    <img class="w-75 w-md-100" src="../../../assets/images/logo.png" alt="marking mcqueen">
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="form-container">
                    <h3 class="text-center mb-3" i18n>
                        {{ showReset ? 'Recuperar Clave' : 'Iniciar Sesión' }}
                    </h3>
                    <form (ngSubmit)="login(formulario)" #formulario="ngForm">
                       
                        <div class="form-label-group">
                            <input type="email" class="form-control" placeholder="Usuario" name="email" ngModel required autofocus>
                            <label for="email" i18n>Email</label>
                        </div>
                        <div class="form-label-group" *ngIf="!showReset">
                            <input type="password" class="form-control" placeholder="Contraseña" name="password" ngModel required>
                            <label for="password" i18n>Contraseña</label>
                        </div>                        
                        <button type="submit" class="btn btn-danger btn-block" i18n >
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                            {{ showReset ? 'Aceptar' : 'Ingresar' }}
                        </button>
                        <button type="button" class="btn btn-danger btn-block" i18n (click)="showReset = !showReset">
                            <i class="fas fa-question-circle" aria-hidden="true"></i>
                            {{ showReset ? 'Volver Al login' : 'Olvidé mi contraseña' }}
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-loading [show]="cargando" [config]="configLoader" >
</ngx-loading>