.form-container{
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
    background-color: lightgray;
}

.titulo_melo {
    font-size: 4rem;
      font-weight: bold;
    font-family: sans-serif;
    color: white;
    background: linear-gradient(to bottom, #016486 0%, #92888d 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}