<mat-tab-group mat-align-tabs="start" *ngIf="data">
    <mat-tab label="{{'Piso ' +item.piso}}" *ngFor="let item of data">
        <div class="w-100 contenedor" *ngIf="item.puestos">
            
            <div class="puesto text-center" *ngFor="let casilla of item.puestos">
                <div class="row">
                    <p class="col">{{casilla.puesto}}</p>
                </div>
                <div class="row">
                    <i [ngClass]="casilla.clase == 'carro' ? 'col fas fa-car-side fa-3x' : 'col fas fa-motorcycle fa-3x'"> </i>
                </div>
            
            </div>
        
        </div>
    </mat-tab>
</mat-tab-group>
