.puesto{
    min-height: 115px;
    min-width: 117px;
    float: left ;
    background-color: #e1e3e4;
    border-radius: 10px;
    margin: 5px;
}

.contenedor{
    overflow-x: hidden;
}

mat-tab-group{

    ::ng-deep{
        .mat-tab-body-content{
            overflow: hidden;
        }
    }
}

.casilla{
    width: 90px;
    height: 90px;
    border: solid 1px;
    text-align: center;
    margin: unset;
}
