<div class="d-flex justify-content-between">
    <mat-button-toggle-group aria-label="Herramientas" (change)="elegirHerramienta($event)" > 
        <mat-button-toggle value="carro" matTooltip="Agregar Carro" matTooltipPosition="above">
            <i class="fas fa-car"></i>
        </mat-button-toggle>
        <mat-button-toggle value="moto" matTooltip="Agregar Moto" matTooltipPosition="above">
            <i class="fas fa-motorcycle"></i>
        </mat-button-toggle>
        <mat-button-toggle value="borrar" matTooltip="Borrar" matTooltipPosition="above">
            <i class="fas fa-eraser"></i>
        </mat-button-toggle>
        <mat-button-toggle value="pintar" matTooltip="Pintar" matTooltipPosition="above">
            <i class="fas fa-paint-brush"></i>
        </mat-button-toggle>
        <input matTooltip="Selecciona color de pincel" matTooltipPosition="above" type="color" [(ngModel)]="color" class="h-100">
    </mat-button-toggle-group>
    <button class="btn btn-secondary" (click)="dialogRef.close()">
        <i class="fas fa-times"></i>
    </button>
</div>

<mat-tab-group mat-align-tabs="start" *ngIf="data">
    <mat-tab label="{{'Piso ' + (Npiso+1)}}" *ngFor="let piso of data; let Npiso = index">
        <div *ngFor="let fila of piso; let Nfila = index">
            <div class="d-flex justify-content-center">
               <div class="casilla" 
                    *ngFor="let casilla of fila; let Ncol = index"
                    (click)="gestionar(Npiso, Nfila, Ncol)"
                    [ngStyle]="{'background-color': casilla.color ? casilla.color : '' }"
                    >
                    <div *ngIf="casilla.tipo" class="w-100 h-100 d-flex flex-column justify-content-center">
                        <i [ngClass]="casilla.tipo == 'moto' ? 'fas fa-motorcycle fa-2x' : 'fas fa-car fa-2x'">
                        </i>
                        <small>100</small>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
