.contenedor{
    height: calc( 100% - 26px );

    mat-card{
        margin: 0 1% 1% 1%;
        border-radius: 11px;
        min-height: 73px;
    }

    .contenedor-tabla{
        height: calc( 100% - (26px + 73px));
    }

    .logo_container{
        width: 10%;
        .logo{
            width: 80%;
        }
    }
    
}