
<div class="contenedor">
    <mat-card class="d-flex flex-column flex-md-row flex-row justify-content-between">
        <h3>Parqueaderos </h3>
        <button class="btn btn-primary" mat-raised-button (click)="abrirModal()">
            <i class="fas fa-plus"></i> 
            Agregar Parqueadero
        </button>
    </mat-card>
    <mat-card>
        <div class="contenedor-tabla">

            <mat-form-field >
                <mat-label>Filtro</mat-label>
                <input matInput (keyup)="filtrar($event)" #input autocomplete="off" placeholder="buscar ..">
                <mat-icon matSuffix>
                    search
                </mat-icon>
            </mat-form-field>
            
            <table mat-table [dataSource]="dataSource">
            
                <ng-container matColumnDef="logo">
                    <th mat-header-cell *matHeaderCellDef class="text-center foto"> Logo </th>
                    <td mat-cell *matCellDef="let element" class="logo_container align-middle text-center"> 
                        <img class="logo m-1" [src]="element.logo">
                    </td>
                </ng-container>
            
                <ng-container matColumnDef="documento">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Documento </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.nit }} </td>
                </ng-container>
            
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Nombre </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.razonSocial | titlecase }} </td>
                </ng-container>
            
                <ng-container matColumnDef="telefono">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Telefono </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{ element.telefono }} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
                    <td mat-cell *matCellDef="let item" class="text-center">

                        <button type="button" class="btn btn-primary my-1 my-md-0 mx-0 mx-md-1" matTooltip="Modificar"
                            (click)="abrirModal(item, 'modificar')" matTooltipPosition="above">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-secondary my-1 my-md-0 mx-0 mx-md-1" matTooltip="Ver"
                            (click)="abrirModal(item, 'ver')" matTooltipPosition="above">
                            <i class="far fa-eye"></i>
                        </button>
                        <button type="button" class="btn btn-success my-1 my-md-0 mx-0 mx-md-1"
                            [matTooltip]=" item.estado ? 'Deshabilitar' : 'Habilitar' " matTooltipPosition="above"
                            (click)="cambiarEstado(item)">
                            <i [ngClass]="item.estado ? 'far fa-check-square' : 'far fa-square'"></i>
                        </button>

                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card>



</div>