
<div class="contenedor">
    <mat-card class="d-flex justify-content-between">
        <h3>Parqueaderos </h3>
        <button mat-raised-button (click)="abrirModal()">
            <i class="fas fa-plus"></i> 
            Agregar Parqueadero
        </button>
    </mat-card>

    <div class="contenedor-tabla">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="text-center" >Logo</th>
                    <th scope="col" class="text-center" >Documento</th>
                    <th scope="col" class="text-center" >Nombre</th>
                    <th scope="col" class="text-center" >Telefono</th>
                    <th scope="col" class="text-center" >Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listaParqueaderos">
                    <td class="logo_container align-middle">
                       
                        <img class="logo" [src]="item.logo">
                        
                    </td>
                    <td class="align-middle text-center">{{ item.nit }}</td>
                    <td class="align-middle text-center">{{ item.razonSocial | titlecase}}</td>
                    <td class="align-middle text-center">{{ item.telefono }}</td>
                    <td class="align-middle text-center">
                        <button type="button" class="btn btn-outline-primary" matTooltip="Modificar" (click)="abrirModal(item, 'modificar')" matTooltipPosition="above">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-outline-secondary" matTooltip="Ver" (click)="abrirModal(item, 'ver')" matTooltipPosition="above">
                            <i class="far fa-eye"></i>
                        </button>
                        <button type="button" class="btn btn-outline-success" matTooltip="Habilitar / Deshabilitar"  matTooltipPosition="above">
                            <i class="far fa-check-square"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger" matTooltip="Ingresar"  matTooltipPosition="above">
                            <i class="fas fa-share"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>