<div class="m-2">
    <div class="text-right">
        <button class="btn  btn-outline-secondary" (click)="dialogRef.close()">
            <i class="fas fa-times"></i>
        </button>
    </div>

    <form [formGroup]="form" (ngSubmit)="guardar()">
        <div class="row">

            <div class="col-md-3 col-sm-12">
                <div class="foto row">
                    <div class="w-100 d-flex justify-content-center">
                        <img [src]="this.form.get('foto').value ? this.form.get('foto').value : imagen">
                    </div>
                </div>
                <div class="row d-flex justify-content-around">
                    <input hidden (change)="subirfoto($event)" #fileInput type="file" id="file"
                        accept=".jpg,.jpeg,.png, .bmp">
                    <button type="button" class="btn btn-primary rounded-circle" (click)="fileInput.click()">
                        <i class="fas fa-plus"></i>
                    </button>
                    <button type="button" class="btn btn-primary rounded-circle" (click)="quitarFoto()">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="row">
                    <mat-form-field appearance="outline" class="col-md-6 col-sm-12">
                        <mat-label i18n>Documento</mat-label>
                        <input matInput type="text" formControlName="documento">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-6 col-sm-12">
                        <mat-label i18n>Nombre</mat-label>
                        <input matInput type="text" formControlName="nombre">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field appearance="outline" class="col-md-6 col-sm-12">
                        <mat-label i18n>Telefono</mat-label>
                        <input matInput type="text" formControlName="telefono">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-6 col-sm-12">
                        <mat-label i18n>Dirección</mat-label>
                        <input matInput type="text" formControlName="direccion">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field appearance="outline" class="col-md-6 col-sm-12">
                        <mat-label i18n>Correo electronico</mat-label>
                        <input matInput type="email" formControlName="email">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-6 col-sm-12">
                        <mat-label i18n>Idioma</mat-label>
                        <mat-select formControlName="idioma">
                            <mat-option *ngFor="let idioma of idiomas" [value]="idioma.valor">
                                <a class="text-dark" href="/{{idioma.valor}}/">{{idioma.display}}</a>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>



                </div>

            </div>
        </div>
        <div class="text-right">
            <button class="btn btn-primary" [disabled]="!form.valid" type="submit" i18n>
                Guardar
            </button>
        </div>

    </form>
</div>