<div class="container-fluid">
  <div class="row">
    <form [formGroup]="formRegisterIncome" class="col-md-10 col-12">
      <div class="row">
        <mat-form-field class="d-flex" appearance="outline" class="col-12 col-md-4 my-1">
          <mat-label>Documento de usuario</mat-label>
          <input (keydown.enter)="searchDataUser($event)" matInput type="text" formControlName="documentoUsuario">
          <button type="button" (click)="searchDataUser()" mat-icon-button matSuffix>
            <mat-icon>{{ validUser ? 'edit' : 'search'}}</mat-icon>
          </button>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="col-12 col-md-4 my-1">
          <mat-label>Nombre del usuario</mat-label>
          <input matInput type="text" formControlName="nombreUsuario">
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="col-12 col-md-4 my-1" [formGroup]="formVehiculo">
          <mat-label>Placa del vehículo</mat-label>
          <input matInput type="text" formControlName="placa">
        </mat-form-field>
    
      </div>
      <div class="row">
        <mat-form-field appearance="outline" class="col-12 col-md-4 my-1" [formGroup]="formVehiculo">
          <mat-label>Marca del vehiculo</mat-label>
          <input matInput type="text" formControlName="marca">
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="col-12 col-md-4 my-1" [formGroup]="formVehiculo">
          <mat-label>Tipo de vehículo</mat-label>
          <mat-select formControlName="tipoVehiculo">
            <mat-option *ngFor="let item of branchVehicles;" [value]="item['value']">{{ item['view'] }}</mat-option>
          </mat-select>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="col-12 col-md-4">
          <mat-label>Seleccione piso</mat-label>
          <mat-select formControlName="piso" (selectionChange)="cambiarPisosSelect($event)">
            <mat-option *ngFor="let piso of floorsParking;" [value]="piso.piso">{{ piso.piso }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
    
    <div class="col-md-2 col-12 d-flex flex-column justify-content-around">
    
      <button mat-raised-button class="reset">
        <mat-icon>replay</mat-icon>
        Reset Formulario
      </button>
    
      <button mat-raised-button color="primary" [disabled]="!asignar" (click)="verVehiculos()">
        <mat-icon>commute</mat-icon>
        Vehiculos De Cliente
      </button>
    
    </div>
  </div>
  
  

</div>

<div class="animate__animated animate__fadeIn animate__slow">
  <app-planos-asignacion 
    [datosPlano]="datosPlano"
    [asignar]="asignar"
    [pisoSeleccionado]="pisoSeleccionado"
    (enviarCasilla)="asignarCasilla($event)"
    (cambiarPiso)="cambiarPiso($event)"
  >
  </app-planos-asignacion>
</div>
